@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#background_pos_login {
    display: flex;
    min-height: 100vh;
    background-color: #141414;
}

#titulo_pos_login {
    padding: 20px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
}

#sidebar_content{
    padding: 12px;
}

#side_items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active {
    background-color: #FFC700;
}

.side-item:hover:not(.active),
#sair_botao:hover {
    background-color: #e3e9f7;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.side-item.active a {
    color: #e3e9f7;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#usuario {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#usuario_avatar {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 20px;
}

#info_usuario {
    display: flex;
    flex-direction: column;
}

#info_usuario span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}

#logout {
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#sair_botao {
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#abrir_barra {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #FFC700;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

#abrir_barra_icone {
    transition: transform .3s ease;
}

.open-sidebar #abrir_barra_icone {
    transform: rotate(180deg);
}

.itemdescri {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .itemdescri {
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

.screen {
    display: none;
}

.screen.active {
    display: block;
}

.titulo_screen {
    color: #FFC700;
}

.texto_screen {
    color: #ffffff;
}