/* Estilos CSS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0; 
    font-family:"Bebas Neue", sans-serif;
}

body{
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

html{
    scroll-behavior: smooth ;
}

a {
    color: white;
    text-decoration: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    transition: 0.5s;
}

a:hover{
    color: rgb(255, 208, 0);
}

a::after{
    content: " ";
    width: 0%;
    background-color: white;
    height: 2px;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0%;
    left: 50%;
    transition: 0.3s ease-in-out;
}

a:hover::after{
    background-color: rgb(255, 208, 0);
    width: 100%;
}

.logo:hover::after{
    width: 0;
}

nav ul{
    list-style: none;
    display: flex;  
    position: fixed;
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 60px;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.692);
    z-index: 2;
}

.roll{
    display: flex;
    align-items: center;    
    gap: 35px;
}

.logo{
    display: flex;
    align-items: center;
    color: white;
    outline: none;
    letter-spacing: 3px;
}

section{
    width: 100vw;
    height: auto;
}

#inicio{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./IMG/nathon-oski-EW_rqoSdDes-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.tesoura{
    width: 550px;
    z-index: 1;
}

.btn-agende{
    background-color: rgb(255, 208, 0);
    color: black;
    font-size: 20px;
    font-weight: 800;
    border: none;
    padding: 20px 40px;
    outline: none;
    position: relative;
    bottom: 100px;
    overflow: hidden;
    content: " ";
    transition: 0.5s;
    z-index: 1;
}

.btn-agende:hover::after{
    width: 0%;
}

.btn-agende:hover{
    color: black;
    padding: 20px 60px;
    font-size: 25px;
}

.gradient{
    width: 100vw;
    height: 575px;
    position: absolute;
    bottom: -50px;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0) ,
        rgb(0, 0, 0) 90%
        );
    z-index: 0;
}

#servicos{
    height: 100vh;
    scroll-margin-top: 40px;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

.titulo2{
    display: flex;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.tit2{
  color: rgb(255, 208, 0);
  font-size: 50px;
  letter-spacing: 3px;
}

.subtit2{
  font-size: 15px;
  letter-spacing: 3px;
  position: relative;
  bottom: 10px;
  font-weight: 100;
}


.serv{
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 0);
  flex-wrap: wrap;
  z-index: 0;
}

.serv1{
  width: 300px;
  height: 410px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  background-image: url(/IMG/agustin-fernandez-1Pmp9uxK8X8-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.serv1::after{
  content: " ";
  width: 100%;
  height: 100%;
  position: 50px 50px;
  background-color: #242424;
  opacity: 0%;
  transition: 0.75s;
}

.serv1:hover::after{
  opacity: 90%;
}

.txtimg1{
  position: absolute;
  z-index: 1;
  opacity: 0%;
  transition: 1.5s;
}

.serv1:hover .txtimg1{
  letter-spacing: 2px;
  opacity: 100%;
}


.serv2{
  width: 300px;
  height: 410px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  background-image: url(/IMG/barba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.serv2::after{
  content: " ";
  width: 100%;
  height: 100%;
  position: 50px 50px;
  background-color: #242424;
  opacity: 0%;
  transition: 0.75s;
}

.serv2:hover::after{
  opacity: 90%;
}

.txtimg2{
  position: absolute;
  z-index: 1;
  opacity: 0%;
  transition: 1.5s;
}

.serv2:hover .txtimg2{
  letter-spacing: 2px;
  opacity: 100%;
}

.serv3{
  width: 300px;
  height: 410px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/IMG/beer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.serv3::after{
  content: " ";
  width: 100%;
  height: 100%;
  position: 50px 50px;
  background-color: #242424;
  opacity: 0%;
  transition: 0.75s;
}

.serv3:hover::after{
  opacity: 90%;
}

.txtimg3{
  position: absolute;
  z-index: 1;
  opacity: 0%;
  transition: 1.5s;
}

.serv3:hover .txtimg3{
  letter-spacing: 2px;
  opacity: 100%;
}

#contato{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
}

.barb{
  width: 100%;
  height: 500px;
  background-image: url(/IMG/barber1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat ;
}

.ctt{
  width: 100vw;
  height: 180px;
  background-color: rgb(255, 208, 0);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  
}

.mail{
  text-align: center;
}

.ctt>img{
  width: 1500px;
  max-height: 180px;
  position: absolute;
  top: 0;
  opacity: 12%;
  overflow: hidden;
}

.txtba{
  color: black;
  z-index: 1;
}

#equipe{
    height: 100vh;
    scroll-margin-top: 40px;
    background-color: rgb(0, 0, 0);
}

.titulo3{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100px;
}

.tit3{
  padding: 0;
  margin: 0;
  color: rgb(255, 208, 0);
  font-size: 50px;
  letter-spacing: 3px;
}

.subtit3{
  font-size: 15px;
  letter-spacing: 2px;
  position: relative;
  bottom: 15px;
  font-weight: 300;
  color: white;
}

.equip{
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 0);
  flex-wrap: wrap;
}

.carde{
  width: 300px;
  height: 410px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  position: relative;
}

.equip:hover > :not(:hover){
  opacity: 40%;
  transform: scale(0.9);
}

.equip1>img{
  width: 100%;
  height: 100%;
}

.bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar1{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 208, 0);
  width: 0%;
  height: 100px;
  position: absolute;
  bottom: 0;
  opacity: 100%;
  transition: 0.5s;
  left:0%;
  opacity: 0%;
}

.bar2{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 208, 0);
  width: 0%;
  height: 100px;
  position: absolute;
  bottom: 0;
  opacity: 100%;
  transition: 0.5s;
  opacity: 0%;
}

.bar3{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 208, 0);
  width: 0%;
  height: 100px;
  position: absolute;
  bottom: 0;
  opacity: 100%;
  transition: 0.5s;
  right:0%;
  opacity: 0%;  
}

.nome{
  color: black;
}

.apre{
  transition: 1s;
  color:  black;
  font-size: 15px;
  opacity: 0%;
}

.equip1:hover .bar1   {
  opacity: 100%;
  width: 100%;
}

.equip2:hover .bar2   {
  opacity: 100%;
  width: 100%;
}

.equip3:hover .bar3   {
  opacity: 100%;
  width: 100%;
}

.equip1:hover .apre   {
  opacity: 100%;
}

.equip2:hover .apre   {
  opacity: 100%;
}

.equip3:hover .apre   {
  opacity: 100%;
}

.equip2>img{
  width: 100%;
  height: 100%;
}

.equip3>img{
  width: 100%;
  height: 100%;
}

#login{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(204, 169, 13);
}

.tit4{
  letter-spacing: 3px;
  font-size: 50px;
}
.container {
  width: 350px;
  height: 330px;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 20px;
  background-color: #141414;
}

h1 {
  margin-top: 15px;
  text-align: center;
  color: #fff;
}

.info input {
  outline: none;
  margin-top: 10px;
  border: none;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.submit{
  cursor: pointer;
  border-radius: none;
  border: none;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(255, 208, 0);
  transition: 0.4s ease-in-out;
}

.submit:hover{
  background-color: rgb(156, 129, 8);;
}

.link{
  font-size: 15px;
  letter-spacing: 2px;
}

.cad{
  font-size: 15px;
  font-weight: 50;
  color: rgb(255, 208, 0);;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #141414;
}